<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Document</title>
  </head>
  <body>


    <div class="first_div">
      <form class="first_form" action="registerPage" method="get">
        <label for="login">Login</label>
        <input type="text" id="login" placeholder="Write your login"  />
        <label for="password">password</label>
        <input type="password" id="password" placeholder="Write your password"  />
        <input type="button" class="submit_type" value="Login" disabled>
        <input type="submit" class="submit_type" value="JOIN US" />
      </form>
      <marquee behavior="" direction="left" >Այսօրվա համար նախատեսել էինք այսքանը</marquee>
    </div>
  </body>


</html>
